@import "styles/mocha.css";

/** ********** Fonts ********** **/
* {
	font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
	font-size: 12px;
}

/** ********** Waybar Window ********** **/
window#waybar {
	background-color: transparent;
	color: @Crust;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.5;
}

/** ********** Backlight ********** **/
#backlight {
	background-color: @Teal;
}

/** ********* Temperature ******** **/
#temperature {
	background-color: @Pink;
}

/** ********** Battery ********** **/

@keyframes blink {
	to {
		color: #000000;
	}
}

#battery {
	background-color: @Green;
}

#battery.good {
	background-color: @Yellow;
}

#battery.warning {
	background-color: @Peach;
}

#battery.low {
	background-color: @Maroon;
}

#battery.critical {
	background-color: @Red;
	color: @Red;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
	background-color: @Lavender;
}

/** ********** CPU ********** **/
#cpu {
	background-color: @Mauve;
}

/** ********** Memory ********** **/
#memory {
	background-color: @Flamingo;
}

/** ********** Disk ********** **/
#disk {
	background-color: @Rosewater;
}

/** ***** Idle Inhibitor ***** **/
#idle_inhibitor {
	color: @Surface0;
	background-color: @Subtext1;
}

#idle_inhibitor.deactivated {
	color: @Subtext1;
	background-color: @Surface0;
}

/** ********** Tray ********** **/
#tray {
	background-color: @Surface0;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
}

#tray>.active {}

/** ********** MPD ********** **/
#mpd {
	background-color: #94e2d5;
}

#mpd.disconnected {
	background-color: @Red;
}

#mpd.stopped {
	background-color: #f5c2e7;
}

#mpd.playing {
	background-color: #74c7ec;
}

#mpd.paused {}

/** ********** Pulseaudio ********** **/
#pulseaudio {
	background-color: @Blue;
}

#pulseaudio.bluetooth {
	background-color: @Sapphire;
}

#pulseaudio.muted {
	background-color: #313244;
	color: #cdd6f4;
}

/** ********** Network ********** **/
#network {
	background-color: @Sky;
}

#network.disconnected,
#network.disabled {
	background-color: #313244;
	color: #cdd6f4;
}

#network.linked {}

#network.ethernet {}

#network.wifi {}

/** ********** Custom ********** **/
/** Common style **/
#backlight,
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#idle_inhibitor,
#tray,
#pulseaudio,
#temperature,
#network,
#custom-menu,
#custom-power {
	border-radius: 4px;
	margin-top: 5px;
	padding: 0px 8px;
}