@import "styles/mocha.css";

/** ********** Fonts ********** **/
* {
  font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 4px;
  padding: 0px 2px;
}

/** ********** Workspace Colors ********** **/
#workspaces button {
  color: @Overlay0;
}
#workspaces button.visible {
  color: @Rosewater;
}

/** ********** Waybar Window ********** **/
window#waybar {
  background-color: @Base;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

/** ********** Backlight ********** **/
#backlight {
  color: @Sapphire;
}

/** ********* Temperature ******** **/
#temperature {
  color: @Red;
}

/** ********** Clock ********** **/
#clock {
  color: @Mauve;
}

/** ********** CPU ********** **/
#cpu {
  color: @Maroon;
}

/** ********** Memory ********** **/
#memory {
  color: @Peach;
}

/** ********** Disk ********** **/
#disk {
  color: @Pink;
}

/** ***** Idle Inhibitor ***** **/
#idle_inhibitor {
  color: @Text;
}

#idle_inhibitor.deactivated {
  color: @Surface2;
}

/** ********** Tray ********** **/
#tray {
  color: @Surface0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#tray > .active {
}

#custom-wl-gammarelay-temperature {
  color: @Blue;
}
#custom-wl-gammarelay-brightness {
  color: @Sapphire;
}
/** ********** Pulseaudio ********** **/
#pulseaudio {
  color: @Lavender;
}

#pulseaudio.muted {
  color: @Subtext1;
}

#pulseaudio.source-muted {
  color: @Overlay0;
}

/** ********** Network ********** **/
#network {
  color: @Sky;
}

#network.disconnected,
#network.disabled {
  color: @Text;
}

#network.linked {
}

#network.ethernet {
}

#network.wifi {
}

/** ********** Battery ********** **/
@keyframes blink {
  to {
    color: @Crust;
  }
}

#battery {
  color: @Green;
}

#battery.good {
  color: @Yellow;
}

#battery.warning {
  color: @Peach;
}

#battery.low {
  color: @Maroon;
}

#battery.critical {
  color: @Red;
  color: @Red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Custom ********** **/
/** Common style **/
#backlight,
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#idle_inhibitor,
#tray,
#pulseaudio,
#temperature,
#network,
#custom-menu,
#custom-power {
  padding: 0px 8px;
}
